<a href="https://colab.research.google.com/github/siwakornnn/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x) = y$)

In [ ]:
def funtion_name(input_x):
      # do something with input_x to get output_y
  return output_y

$f_1(x)=x^2 + 75$

In [ ]:
def funtion_f1(x):
  a = x**2
  y = a + 75
  return y
  print('done!')

In [ ]:
funtion_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  `def function_name()`: (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input  _Input_ (ขาดได้)
3. ส่วนประมวลผล do_something with _Input_ to get _Output_ (ขาดไม่ได้)
4. ส่วน output `return` _Output_(ขาดได้)

###ตัวอย่าง funtion ที่มีส่วนประกอบครบ

In [ ]:
def funtion_f1(x):
  a = x**2
  y = a + 75
  return y

###ตัวอย่าง funtion ที่ไม่มี input

In [ ]:
def pi_v():
  y = 3.14159265359
  return y

In [ ]:
piv = pi_v()
cirrcle_area_r2 = piv*(2**2)
print(cirrcle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [ ]:
def funtion_a():

SyntaxError: ignored

###ตัวอย่าง funtion ที่ไม่มี output

In [ ]:
def print_name_id(name,id):
  print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [ ]:
print_name_id('ศิวกร','603021840-5')

ชื่อ ศิวกร รหัสประจำตัว 603021840-5

In [ ]:
a = print_name_id('ศิวกร','603021840-5')

ชื่อ ศิวกร รหัสประจำตัว 603021840-5

In [ ]:
a

ตัวอย่าง function print https://www.programiz.com/python-programming/methods/built-in/print

In [ ]:
print('ศิวกร')
print('603021840-5')

ศิวกร
603021840-5

In [ ]:
print('ศิวกร' ,end='->')
print('603021840-5')

ศิวกร->603021840-5

In [ ]:
print('ศิวกร' , '603021840-5')

ศิวกร 603021840-5

In [ ]:
print('ศิวกร' , '603021840-5',sep=' & ')

ศิวกร & 603021840-5

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function print_grade() มี input 3ตัว จำเป็นต้อง 2 ตัว คือ name กับ id และไม่ตจำเป็ต้องใส่คือ คือ ซึ่งมีค่า default เป็น F

In [6]:
def print_grade(name,id,grade = ' F '): 
  print(f'รหัสประจำตัว {id} ชื่อ {name}') 
  print(f'ได้เกรด {grade} ')

In [ ]:
print_grade('นายศิวกร  แตงอ่อน' , '603021840-5')

รหัสประจำตัว 603021840-5 ชื่อ นายศิวกร  แตงอ่อน
ได้เกรด  F

In [ ]:
print_grade('นายศิวกร  แตงอ่อน' , '603021840-5' , 'A')

รหัสประจำตัว 603021840-5 ชื่อ นายศิวกร  แตงอ่อน
ได้เกรด A

รหัสประจำตัว 603021840-5 ชื่อ นายศิวกร  แตงอ่อน
ได้เกรด A

##Looping (for)
Conditional Statement (if)

for member in listEx:
    do_something()

In [1]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [2]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [3]:
for name in ['ธีรเดช','ภูภูมิ ','จิรายุ','มาริโอ้','ปกรณ์']:
    N = name
    print_name(N)

ฉันชื่อ ธีรเดช
ฉันชื่อ ภูภูมิ
ฉันชื่อ จิรายุ
ฉันชื่อ มาริโอ้
ฉันชื่อ ปกรณ์

In [4]:
list_name_id_grade = [['นายศิวกร  แตงอ่อน','603021840-5','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','B']]

In [7]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('----------------')

รหัสประจำตัว 603021840-5 ชื่อ นายศิวกร  แตงอ่อน
ได้เกรด A
----------------
รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด B
----------------

## ใช้ for loop เพิ่มสมาชิกใน list

In [8]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [9]:
list_name

['นายศิวกร  แตงอ่อน', 'นางสาวปลายฟ้า คำเพ็ง']

### การวนลูปด้วย `range()`

In [11]:
for i in range(100):
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

### Loop ซ้อน Loop

In [12]:
for mem1 in range(2,5): #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in Function

In [13]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [14]:
print_grade_loop(list_name,list_grade)

นายศิวกร  แตงอ่อน ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด B

# Conditional Statement (if)

```python
if condition1:
    do_something() ## ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
    do_another_thing()  ## ถ้า condition1 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing() ## ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [15]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นายศิวกร  แตงอ่อน ได้เกรด F
นางสาวปลายฟ้า คำเพ็ง ได้เกรด F

### operator ที่ใช้ตรวจสอบ condition

==, !=, >=, <=, <, >, and, or

In [16]:
a = 10 == 20
print(a)

False

In [17]:
b = 15 <= 20
print(b)

True

In [18]:
if a:
    print('x')

In [19]:
if True:
    print('x')

x

In [20]:
if a and b:
    print('x')

In [21]:
if a or b:
    print('x')

x

# HW
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
*  ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [24]:
A =  [1,50,65,90,101,-5,49,'ก',80]

In [25]:
print(A)
for i in A:
    if type(i) == type(""):
        print(f'{i} ไม่สามารถตัดเกรดได้เพราะเป็นตัวอักษร')
    else:
        if i >= 101:
            print(f'คะแนน {i} ไม่สามารถตัดเกรดได้เพราะคะแนนมากกว่า 100')
        elif i >= 80:
            print(f'คะแนนคือ {i} ได้เกรด  A')
        elif i >= 75:
            print(f'คะแนนคือ {i} ได้เกรด  B+')
        elif i >= 70:
            print(f'คะแนนคือ {i} ได้เกรด  B')
        elif i >= 65:
            print(f'คะแนนคือ {i} ได้เกรด  C+')
        elif  i >= 60:
            print(f'คะแนนคือ {i} ได้เกรด  C')
        elif  i >= 55:
            print(f'คะแนนคือ {i} ได้เกรด  D+')
        elif  i >= 50:
            print(f'คะแนนคือ {i} ได้เกรด  D')
        elif  i >= 0:
            print(f'คะแนนคือ {i} ได้เกรด  F')
        else:
            print(f'คะแนน {i} ไม่สามารถตัดเกรดได้')

[1, 50, 65, 90, 101, -5, 49, 'ก', 80]
คะแนนคือ 1 ได้เกรด  F
คะแนนคือ 50 ได้เกรด  D
คะแนนคือ 65 ได้เกรด  C+
คะแนนคือ 90 ได้เกรด  A
คะแนน 101 ไม่สามารถตัดเกรดได้เพราะคะแนนมากกว่า 100
คะแนน -5 ไม่สามารถตัดเกรดได้
คะแนนคือ 49 ได้เกรด  F
ก ไม่สามารถตัดเกรดได้เพราะเป็นตัวอักษร
คะแนนคือ 80 ได้เกรด  A