<a href="https://colab.research.google.com/github/siwakornnn/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x) = y$)

In [1]:
def funtion_name(input_x):
      # do something with input_x to get output_y
  return output_y

$f_1(x)=x^2 + 75$

In [4]:
def funtion_f1(x):
  a = x**2
  y = a + 75
  return y
  print('done!')

In [3]:
funtion_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  `def function_name()`: (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input  _Input_ (ขาดได้)
3. ส่วนประมวลผล do_something with _Input_ to get _Output_ (ขาดไม่ได้)
4. ส่วน output `return` _Output_(ขาดได้)

###ตัวอย่าง funtion ที่มีส่วนประกอบครบ

In [5]:
def funtion_f1(x):
  a = x**2
  y = a + 75
  return y

###ตัวอย่าง funtion ที่ไม่มี input

In [9]:
def pi_v():
  y = 3.14159265359
  return y

In [10]:
piv = pi_v()
cirrcle_area_r2 = piv*(2**2)
print(cirrcle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [11]:
def funtion_a():

SyntaxError: ignored

###ตัวอย่าง funtion ที่ไม่มี output

In [12]:
def print_name_id(name,id):
  print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [13]:
print_name_id('ศิวกร','603021840-5')

ชื่อ ศิวกร รหัสประจำตัว 603021840-5

In [14]:
a = print_name_id('ศิวกร','603021840-5')

ชื่อ ศิวกร รหัสประจำตัว 603021840-5

In [16]:
a

ตัวอย่าง function print https://www.programiz.com/python-programming/methods/built-in/print

In [17]:
print('ศิวกร')
print('603021840-5')

ศิวกร
603021840-5

In [18]:
print('ศิวกร' ,end='->')
print('603021840-5')

ศิวกร->603021840-5

In [19]:
print('ศิวกร' , '603021840-5')

ศิวกร 603021840-5

In [20]:
print('ศิวกร' , '603021840-5',sep=' & ')

ศิวกร & 603021840-5

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function print_grade() มี input 3ตัว จำเป็นต้อง 2 ตัว คือ name กับ id และไม่ตจำเป็ต้องใส่คือ คือ ซึ่งมีค่า default เป็น F

In [22]:
def print_grade(name,id,grade = ' F '): 
  print(f'รหัสประจำตัว {id} ชื่อ {name}') 
  print(f'ได้เกรด {grade} ')

In [23]:
print_grade('นายศิวกร  แตงอ่อน' , '603021840-5')

รหัสประจำตัว 603021840-5 ชื่อ นายศิวกร  แตงอ่อน
ได้เกรด  F

In [24]:
print_grade('นายศิวกร  แตงอ่อน' , '603021840-5' , 'A')

รหัสประจำตัว 603021840-5 ชื่อ นายศิวกร  แตงอ่อน
ได้เกรด A

รหัสประจำตัว 603021840-5 ชื่อ นายศิวกร  แตงอ่อน
ได้เกรด A

##Looping (for)
Conditional Statement (if)